<h3>LOGIN</h3>

<p class="login-details">Fill in the details before you login.</p>
<!-- <div class="sign-in">
  <button (click)="openForm()">Sign-in</button>
</div> -->

<div id="loginDialog">
  <form [formGroup]="loginForm" (ngSubmit)="validateForm()">
    <div>

      <input formControlName="email" placeholder="email" name="email"> <br>
  
      <input formControlName="password" placeholder="passsword" name="password">
        
    </div>



    <button class="login">Login</button><br>
    <a href  = "customer" class="register">Register</a>


  </form>

</div>