<h3>LOGIN</h3>

<p class="login-details">Fill in the details before you login.</p>
<!-- <div class="sign-in">
  <button (click)="openForm()">Sign-in</button>
</div> -->

<div id="loginDialog">
  <form [formGroup]="loginForm" (ngSubmit)="validateForm()">
    <div class="row">

      <input formControlName="email" placeholder="email" name="email">
      <span *ngIf="loginForm.controls['email']?.errors" class="required">*</span>

      <input formControlName="password" placeholder="passsword" name="password">
      <span *ngIf="loginForm.controls['password']?.errors" class="required">*</span>
      
    </div>



    <button>Login</button>
    <button >Cancel</button>


  </form>

</div>